{% extends "base.html" %}

{% block extra_js %}

<script type="text/javascript">
$( document ).ready( function() {
    $( '#q' ).keyup( function() {
        q = $( '#q' ).val();
        $( '#results' ).html( '&nbsp;' ).load( '{% url search %}?q=' + q );
    });
});

</script>

{% endblock %}

{% block content %}

<div class="form-signin">
    <h2 class="form-signin-heading" title="Type in contact name">Search Contacts</h2>
	<input id="q" type="text"/>
    <br/>
    <div class="margin">
        <div id="results"></div>
    </div>
</div>
{% endblock %}
